body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}
.movie-card {
  border: none;
  overflow: hidden;
  border-radius: 1rem;
}
.movie-img {
  height: 200px;
  object-fit: cover;
}

