*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    overflow: hidden;
    background-color: #4158D0;
background-image: linear-gradient(to right, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    display: flex;
    justify-content: center;

}
.container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card{
    margin-top: 20px;
    width:400px;
    height:600px;
    border: 1px solid black;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(109px);
    margin-right: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card :hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}
.card img{
    position: absolute;
    width: 25vw;
    height:50vh;
    left: 10px;
    top: 250px;
}
.text{
    text-align: center;
    color: white;
    padding: 30px;
}
.card-text{
    position: absolute;
    top: 80px;
    left: 10px;
}
.btn{
    background-color:aliceblue;
    padding: 3px;
    margin-left: 200px;
    position: absolute;
    top: 170px;
    right: 180px;
}
.btn:hover{
    background-color:#176c85
}


























  


  