.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}
.card{
    transition: all 0.3s ease;  
}
.btn{
    transition: all 0.3s ease;  
}
.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}